// Rhythm of 4px
$vp-rhythm-base: 4px;

$vp-rhythm-xs: $vp-rhythm-base;
$vp-rhythm-s: $vp-rhythm-base * 2;
$vp-rhythm: $vp-rhythm-base * 3;
$vp-rhythm-l: $vp-rhythm-base * 4;
$vp-rhythm-xl: $vp-rhythm-base * 5;